<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="pathSource" value="C:\Users\cnbe\Desktop\source"/>
    <add key="pathDestination" value="C:\Users\cnbe\Desktop\destination"/>
    <add key="pathArchive" value="C:\Users\cnbe\Desktop\archive"/>
	<add key="time_out"       value="2"/>
	<add key="sleeping_time"  value="2"/>
	<add key="heure_debut"    value="09:00"/>
	<add key="heure_fin"      value="18:00"/>
	  <!-- Dimanche = 0 -->
	<add key="jour1"          value="6"/>
	<add key="jour2"          value="0"/>
  </appSettings>
</configuration>