<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="pathSource" value="C:\Users\cnbe\Desktop\source"/>
    <add key="pathDestination" value="C:\Users\cnbe\Desktop\destination"/>
    <add key="pathArchive" value="C:\Users\cnbe\Desktop\archive"/>   
  </appSettings>
</configuration>